/* Темная тема для футера */
.dark-theme footer {
    background-color: #121212;
    color: #007bff; /* Цвет текста в футере */
}

/* Темная тема для ссылок в футере */
.dark-theme footer a {
    color: #007bff; /* Цвет ссылок в футере */
}

/* Темная тема для списка в футере */
.dark-theme footer ul {
    list-style-type: none;
    padding: 0;
}

/* Темная тема для элементов списка в футере */
.dark-theme footer li {
    margin-bottom: 10px;
}

/* Темная тема для body */
body {
    background-color: #121212;
    color: #007bff; /* Цвет текста в body */
}

/* Темная тема для контента */
.dark-theme .pricing-header {
    background-color: #121212;
    color: #007bff; /* Цвет текста в контенте */
}

/* Уменьшение шрифта для названия ссылки */
.dark-theme h6 {
    font-size: 18px; /* Уменьшение размера шрифта */
}

/* Уменьшение шрифта для ссылок в списке */
.dark-theme footer a {
    font-size: 14px; /* Уменьшение размера шрифта */
}

/* Уменьшение размера карточек */
.card {
    width: 12rem; /* Уменьшение ширины */
    height: auto;
    min-height: 15rem; /* Уменьшение минимальной высоты */
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

/* Кнопка становится меньше */
a.btn {
    font-size: 0,85rem;
    padding: 0.375rem 0.75rem;
}

/* Положение кнопки остаётся прежним */
.card-body .btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Уменьшение расстояния между элементами внутри карточки */
.card-body {
    padding: 1rem;
}


/* Уменьшение шрифтов заголовка и текста */
h6.card-title {
    font-size: 1rem; /* Уменьшение размера шрифта */
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

p.card-text {
    font-size: 0.8rem; /* Уменьшение размера шрифта */
    line-height: 1.4;
}

/* Темный фон для карточек */
.card {
    background-color: #212529; /* Темный фон */
    color: #f8f9fa; /* Цвет текста */
}

/* Уменьшение шрифта для заголовка карточки */
h6.card-title {
    font-size: 1rem; /* Уменьшение размера шрифта */
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

/* Уменьшение шрифта для описания карточки */
p.card-text {
    font-size: 0.8rem; /* Уменьшение размера шрифта */
    line-height: 1.4;
}

/* Сжатие текста до ширины карточки */
.card-body {
    overflow: hidden; /* Скрытие переполнения */
    text-overflow: ellipsis; /* Добавление многоточия */
    white-space: nowrap; /* Запрет переноса строк */
}

/* Замена не помещающихся символов на многоточие */
h6.card-title, p.card-text {
    overflow: hidden; /* Скрытие переполнения */
    text-overflow: ellipsis; /* Добавление многоточия */
    white-space: nowrap; /* Запрет переноса строк */
}

/* Стили для формы */
form {
    max-width: 50%; /* Убедитесь, что форма занимает всю доступную ширину */
    width: 100%; /* Убедитесь, что форма занимает всю доступную ширину */
    margin: 0 auto; /* Центровка формы */
}
