{% extends 'posts/home.html' %}
{% load my_tags %}

{% block content %}

<head>
    <style>
        .card-body {
            position: relative; /* Устанавливаем родительский элемент как относительный */
        }

        .card-body .btn {
            position: absolute; /* Фиксируем кнопку относительно родительского элемента */
            bottom: 10px; /* Отступ от нижнего края */
            left: 50%; /* Центрирование по горизонтали */
            transform: translateX(-50%); /* Корректировка для точного центрирования */
        }
    </style>

<div class="container">
    <div class="row text-center">
        <div class="col">
            <div class="card" style="width: 25rem; height: 33rem;">
                {% if post.media_type == 'VIDEO' %}
                    <video controls width="50%" height="auto">
                        <source src="{{ post.file.url }}" type="video/mp4">
                        Ваше устройство не поддерживает воспроизведение видео.
                    </video>
                {% elif post.media_type == 'IMAGE' %}
                    <img src="{{post.file | media_filter}}" class="card-img-center" style="height: 250px; object-fit: contain;" alt="{{ post.title }}">
                {% elif post.media_type == 'TEXT' %}
                    <pre>{{ post.file.read }}</pre>
                {% else %}
                    <p>Тип файла неизвестен</p>
                {% endif %}

                <div class="card-body">
                    <h6 class="card-title">{{ post.title }}</h6>
                    <p class="card-text">{{ post.description | truncatechars:100 }}</p>
                    <p class="card-text"><strong>Цена:</strong> {{ post.price }} руб.</p>
                </div>

                <div class="ms-3 mb-2">
                    <a class="p-2 btn btn-outline-primary mt-0" href="#">Купить</a>
                    {% if request.user == post.author %}
                        <a class="p-2 btn btn-outline-primary" href="{% url 'posts:post_update' post.id %}">Редактировать</a>
                    {% endif %}
                    {% if request.user == post.author or perms.posts.can_delete_any_post %}
                        <a class="p-2 btn btn-outline-primary" href="{% url 'posts:post_delete' post.id %}">Удалить</a>
                    {% endif %}
                    <a class="p-2 btn btn-outline-primary" href="/">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}